{% load static %}
<!-- FOOTER -->
    <footer id="footer" class="pt-3 text-center text-white">
    	<div class="container">
    		<div class="row">
    			<div class="col">
    				  <p class="lead">Copyright &copy;
            			<span id="year"></span> R&R</p>
            		  <p> The information contained in R&RBS.com may not be published, broadcast, rewritten, or redistributed without the prior written authority of R&R.</p>
        		</div>
    		</div>
        </div>
    </footer>

    <script>
		// Get the current year for the copyright
    	$('#year').text(new Date().getFullYear());
	</script>