{% extends 'base.html' %}

{% load static %}

{% block title %} | Account Settings {% endblock %}

{% block content %}
<section id="settings" class="py-5 mb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="row d-flex">
                        <div>
                           <img src="{% static 'images/account.png' %}" class="mr-2">
                        </div>
                      <div class="align-self-center">
                          <small class="text-white">{{ user.username }}</small>
                          <small class="text-muted d-block">{{ user.email }}</small>
                      </div>
                   </div>
                    <ul class="list-group mt-5 mr-5">
                        <a href="orders.html" class="dropdown-item list-group-item"><img src="{% static 'images/my_orders.png' %}" height="30" width="30"> My Orders</a>
                        <a href="wishlist.html" class="dropdown-item list-group-item"><img src="{% static 'images/wishlist.png' %}" height="30" width="30"> Wish list</a>
                        <a href="cart.html" class="dropdown-item list-group-item"><img src="{% static 'images/cart.png' %}" height="30" width="30"> My cart</a>
                        <a href="account_settings.html" class="dropdown-item list-group-item active"><img src="{% static 'images/account_settings.png' %}" height="30" width="30"> Account Settings</a>
                    </ul>
                </div>
                <div class="col-md-8">
                    <h3 class="text-white pb-3">Account Settings</h3>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col">
                                    <h4 class="font-weight-bold">Account Information</h4>
                                    <p>Email: {{ user.email }}</p>
                                    <p>Password: ***********</p>
                                </div>
                                <div class="col align-self-center">
                                  <button class="btn btn-info" data-toggle="modal" data-target="#modal1">Edit</button>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col">
                                    <h4 class="font-weight-bold">Personal Information</h4>
                                    <p>Name: {{ user.first_name }}  {{ user.last_name }}</p>
                                    <p>Username: {{ user.username }}</p>
                                    <p>Birth date: 06/27/1994</p>
                                    <p>Gender: Male</p>
                                </div>
                                <div class="col align-self-center">
                                  <button class="btn btn-info" data-toggle="modal" data-target="#modal2">Edit</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}